<main>
    <div class="brand-theme">昭和のよさを令和に</div>
    <div id="maniacs-wrapper">
        <%= image_tag "/image/castle.png", class:"header-img", id:"works-hd-img", alt:"" %>
        <div></div>
        <h1 id="h1">- 有限会社メイニアクス -</h1>
    </div>

    <div id="contents">
        <div class="article">
            <p>有限会社メイニアクスは、「持続可能な仕事」をポリシーに営業している会社です。
            当社が提供するサービスは以下の通りです。</p>
        </div>
            <div class="left">
                <div class="works">
                    <div class="work">
                        <a href="/example">
                            <%= image_tag "/image/wolf.png", alt:"" %>
                            <div>
                                <p>漫画駄菓子屋</p>
                            </div>
                        </a>
                    </div>
                    <div class="work">
                        <a href="/example">
                            <%= image_tag "/image/wolf.png", alt:"" %>
                            <div>
                                <p>イラスト</p>
                            </div>
                        </a>
                    </div>
                    <div class="work">
                        <a href="/example">
                            <%= image_tag "/image/wolf.png", alt:"" %>
                            <div>
                                <p>印刷</p>
                            </div>
                        </a>
                    </div>
                    <div class="work">
                        <a href="/example">
                            <%= image_tag "/image/wolf.png", alt:"" %>
                            <div>
                                <p>音楽制作</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>

    <%= image_tag "/image/valley.png", class:"footer-img", alt:"" %>

</main>